/* BACKGROUND */
#background_header {
    background-color: #00473e;
    padding-top: 5px;
    padding-bottom: 5px;
}

body {
    background-color: #f2f7f5;
}

#background_footer {
    background-color: #00473e;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* HEADER */
#icon_nav_responsive {
    display: none;
}

.nav_responsive_header_none {
    display: none;
}

#icon_nav_reponsive_tab_ver {
    display: none;
}

#responsive_login_register_tab_ver {
    display: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

#titre_header {
    color: #f2f7f5;
    border-bottom: 4px solid #f2f7f5;
    margin: 0px;
    margin-left: 8px;
    cursor: default;
}

#menu_nav {
    display: flex;
}

#ul_header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
}

.bouton_header {
    background-color: #f2f7f5;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.bouton_header:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.500);
    background-color: #e1e6e4;
    transition: 0.5s;
}

.a_header {
    font-size: 28px;
    color: #2b2c34;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

.a_header:hover {
    color: #2b2c34;
}

#login_register {
    margin-right: 8px;
}

.log {
    background-color: #f2f7f5;
    border-radius: 5px;
    color: #2b2c34;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
}

.log:hover {
    background-color: #e1e6e4;
    color: #2b2c34;
    transition: 0.5s;
}

#log_connecte {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

#icon_connecte {
    background-color: #f2f7f5;
    border-radius: 5px;
    color: #2b2c34;
    padding: 4px;
    border: 0px;
}

#icon_connecte:hover {
    background-color: #e1e6e4;
}

.btn_deconnexion {
    margin-left: 6px;
}

#nav_menu_connecte {
    position: absolute;
    right: 0px;
}

.nav_menu_connecte_block {
    display: block;
}

.nav_menu_connecte_none {
    display: none;
}

#menu_connecte {
    display: flex;
    flex-direction: column;
    background-color: #00473e;
    padding: 5px 18px 5px 18px;
    border-radius: 0px 0px 0px 5px;
}

.a_menu_connecte {
    text-decoration: none;
    color: #2b2c34;
    font-size: 24px;
    background-color: #f2f7f5;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    margin-top: 5px;
}

.a_menu_connecte:hover {
    color: #2b2c34;
    background-color: #e1e6e4;
}


/* ACCEUIL */
#fond_banniere_recherche {
    background-image: linear-gradient(rgba(255, 50, 60, 0.70), rgba(255, 50, 60, 0.70)) , url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKH1Z3xn0kZjGvwg2GpFGEi80iXfkqDnQ8_KxkBBf8&s);
    background-size: contain;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:0px 0px 10px #2b2c34;
}

#banniere_recherche {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#banniere_recherche_solo {
    display: flex;
    justify-content: center;
}

#logo_acceuil {
    display: flex;
    align-items: start;
    width: 17.5%;
}

#bouton_barre_recherche {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2b2c341c;
    border-radius: 20px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

#label_recherche {
    color: #f2f7f5;
    font-size: 20px;
    text-align: center;
}

#barre_recherche {
    background-color: #f2f7f5;
    border-radius: 5px 0px 0px 5px;
    border: 0px solid #2b2c34;
    margin-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#bouton_recherche {
    background-color: #f2f7f5;
    border-radius: 0px 5px 5px 0px;
    color: #2b2c34;
    border: 0px solid #2b2c34;
    cursor: pointer;
    margin-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#responsive_icon_recherche {
    display: none;
}

#titre_acceuil {
    display: flex;
    justify-content: center;
    font-size: 64px;
    color: #2b2c34;
    border-bottom: 2px solid #2b2c3433;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
}

#titre_categorie_acceuil {
    color: #2b2c34;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 20px;
}

#categorie_acceuil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    border-bottom: 1px solid #2b2c3433;
}

.table_categorie_acceuil {
    margin: 12px;
    background-color: #00473e;
    border: 2.5px solid #00473e;
    transition: 0.25s;
}

.table_categorie_acceuil:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.image_categorie_acceuil {
    width: 400px;
}

.libelle_categorie_acceuil {
    text-align: center;
    font-size: 28px;
    color: #f2f7f5;
}

.lien_categorie_accceuil {
    text-decoration: none;
}

#titre_plat_acceuil {
    color: #2b2c34;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 15px;
}

#plat_acceuil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.table_plat_acceuil {
    margin: 12px;
    background-color: #00473e;
    border: 2.5px solid #00473e;
    transition: 0.25s;
}

.table_plat_acceuil:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.image_plat_acceuil {
    width: 400px;
}

.libelle_plat_acceuil {
    text-align: center;
    font-size: 28px;
    color: #f2f7f5;
}

.lien_plat_accceuil {
    text-decoration: none;
}

/* CATEGORIE */
#titre_cate_act {
    color: #2b2c34;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #2b2c343f;
    margin-left: 20%;
    margin-right: 20%;
}

#cate_act {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 125px;
    margin-right: 125px;
}

.image_cate_act {
    width: 400px;
    transition: 0.5s;
}

.image_cate_act:hover {
    transform: scale(1.05);
}

.tbody_cate_act {
    overflow: hidden;
}

.table_cate_act {
    margin: 12px;
    background-color: #00473e;
    border: 4px solid #00473e;
    overflow: hidden;
}

.lien_cate_act {
    text-decoration: none;
}

.libelle_cate_act {
    text-align: center;
    font-size: 28px;
    color: #f2f7f5;
}

#titre_cate_no_act {
    color: #2b2c34;
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #2b2c343f;
    margin-left: 20%;
    margin-right: 20%;
}

#cate_no_act {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-left: 125px;
    margin-right: 125px;
}

.image_cate_no_act {
    width: 400px;
    opacity: 0.60;
}

.table_cate_no_act {
    margin: 12px;
    background-color: #2b2c34;
    border: 2.5px solid #2b2c34;
    transition: 0.25s;
}

.libelle_cate_no_act {
    text-align: center;
    font-size: 28px;
    color: #f2f7f5de;
}

/* PLAT */
#select_cate_plat {
    background-color: #00473e;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#titre_select_cate_plat {
    color: #f2f7f5;
    display: flex;
    justify-content: center;
}

#list_cate_plat {
    list-style: none;
    display: flex;
    justify-content: center;
}

.btn_cate_plat_act {
    background-color: #f2f7f5;
    border-radius: 5px;
    border: 0px solid black;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.btn_cate_plat_act:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.500);
    background-color: #e1e6e4;
    transition: 0.5s;
}

.btn_cate_plat_no_act {
    background-color: #e1e6e4;
    border-radius: 5px;
    border: 0px solid black;
    margin-left: 4px;
    margin-right: 4px;
}

.a_cate_plat {
    text-decoration: none;
    color: #2b2c34;
    font-size: 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.a_cate_plat:hover {
    color: #2b2c34;
}

.titre_categorie_plat {
    color: #2b2c34;
    text-align: center;
    font-size: 42px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.250);
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#plat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 125px;
    margin-right: 125px;
    margin-left: 10%;
    margin-right: 10%;
}

.table_plat {
    display: flex;
    flex-direction: column;
    background-color: #00473e;
    border: 4px solid #00473e;
    overflow: hidden;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    transition: 0.5s;
}

.table_plat:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}

.image_plat {
    width: 300px;
}

.tbody_plat {
    display: flex;
    flex-direction: column;
}

.libelle_plat {
    display: flex;
    justify-content: center;
    color: #f2f7f5;
    font-size: 24px;
}

.desc_plat {
    display: flex;
    color: #f2f7f5;
    white-space: pre-wrap;
}

.plat_prix_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f7f5;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8px;
}

.plat_prix_icon:hover {
    background-color: #e1e6e4;
    cursor: pointer;
}

.prix_plat {
    font-size: 24px;
}

.icon_shop {
    margin-left: 6px;
}

#plat_introuvable {
    display: flex;
    justify-content: center;
    color: #2b2c34;
    font-size: 64px;
    margin-top: 10%;
}

#btn_plat_introuvable{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #f2f7f5;
    font-size: 32px;
    background-color: #00473e;
    border-radius: 5px;
    border: 2px solid #2b2c34;
    cursor: pointer;
    margin-left: 35%;
    margin-right: 35%;
    padding: 12px;
    margin-bottom: 15%;
}

#btn_plat_introuvable:hover{
    color: #e1e6e4;
}

/* CONTACT */
#fond_contact {
    background-color: #00473e;
    margin-top: 8%;
    margin-bottom: 9%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#titre_contact {
    display: flex;
    justify-content: center;
    color: #f2f7f5;
    font-size: 56px;
}

#form_contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.input_contact {
    display: flex;
    border-radius: 5px;
    border: 1px solid #2b2c34;
    width: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    font-size: 18px;
}

#commentaire {
    padding-bottom: 10%;
}

#btn_from {
    display: flex;
    flex-direction: row;
}

.btn_contact {
    background-color: #f2f7f5;
    color: #2b2c34;
    border: 0px solid #2b2c34;
    border-radius: 5px;
    font-size: 24px;
    margin: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* FOOTER */
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    
}

#titre_footer {
    color: #f2f7f5;
    border-bottom: 4px solid #f2f7f5;
    margin: 0px;
    margin-left: 8px;
    cursor: default;
}

#ul_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0px;
}

.a_footer {
    text-decoration: none;
    color: #f2f7f5;
}

.a_footer:hover {
    color: #e1e6e4;
}

/* CONNEXION */
#div_form_connec {
    background-color: #00473e;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#titre_connec {
    display: flex;
    justify-content: center;
    color: #f2f7f5;
    cursor: default;
}

#form_connec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.input_connec {
    border-radius: 5px;
    border: 1px solid #2b2c34;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    margin-bottom: 8px;
}

#btn_connec {
    background-color: #f2f7f5;
    border-radius: 5px;
    border: 1px solid #2b2c34;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#btn_connec:hover {
    background-color: #e1e6e4;
}

/* INSCRIPTION */
#div_form_inscr {
    background-color: #00473e;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5.7%;
    padding: 5px 5px 5px 5px;
}

#titre_inscription {
    display: flex;
    justify-content: center;
    color: #f2f7f5;
    font-size: 64px;
    cursor: default;
}

#form_inscr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nom_prenom {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

#mdp_cmdp {
    display: flex;
    flex-direction: row;
    border-top: 2px solid;
    border-image: linear-gradient(45deg, #00473d9f, #f2f7f549, #00473d9f) 5;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 14px;
}

.input_full_inscr {
    border-radius: 5px;
    border: 1px solid #2b2c34;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    margin-bottom: 8px;
}

.input_demi_inscr {
    border-radius: 5px;
    border: 1px solid #2b2c34;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
}

#btn_inscr {
    background-color: #f2f7f5;
    border-radius: 5px;
    border: 1px solid #2b2c34;
    color: #2b2c34;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#btn_inscr:hover {
    background-color: #e1e6e4;
}

/* VOTRE COMPTE */
#information {
    margin: 5% 25% 0% 25%;
    background-color: #00473e;
    padding: 1% 0% 1.5% 0%;
}

#titre_compte {
    color: #f2f7f5;
    font-size: 48px;
    text-align: center;
}

#information_compte {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0% 25% 0% 25%;
}

.input_compte {
    background-color: #e1e6e4;
    color: #2b2c34;
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
}

.label_compte {
    display: flex;
    color: #f2f7f5;
    font-size: 20px;
    margin-top: 4px;
}

#btn_modif_compte {
    display: flex;
    justify-content: center;
    background-color: #f2f7f5;
    text-decoration: none;
    color: #2b2c34;
    font-size: 32px;
    padding: 5px;
    border-radius: 5px;
    margin: 2% 25% 0% 25%;
}

#vos_commandes {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 15% 1% 15%;
}

#titre_vos_commandes {
    color: #2b2c34;
    text-align: center;
    margin-top: 2%;
}

.table_vos_commandes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2c34;
    border: #2b2c34 solid 2px;
    border-radius: 5px;
}

.td_img_vos_commandes {
    display: flex;
}

.td_vos_commandes {
    display: flex;
    justify-content: center;
    color: #f2f7f5;
    font-size: 20px;
}

.vos_commandes_libelle {
    font-size: 28px;
}

/* PAGE ADMIN UTILISATEURS */
#table_admin_uti {
    border-spacing: 4px;
}

#tbody_admin_uti {
    display: table-caption;
}

.tr_admin_uti {

}

.btn_delete_uti {
    text-decoration: none;
    background-color: rgb(235, 0, 0);
    border-radius: 5px;
    padding: 10px;
}

/* PAGE ADMIN STATISTIQUE */
#page_admin {
    display: flex;
    flex-wrap: wrap;
}

#menu_admin {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 600px;
    border-right: #A1A1A1 1px solid;
    padding: 0px;
}

#ul_admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    width: 100%;
}

.a_cate_admin {
    text-decoration: none;
}

.a_cate_admin:hover {
    text-decoration: none;
}

.li_admin {
    display: flex;
    justify-content: center;
    color: #2b2c34;
    font-size: 48px;
}

#page_stats {
    width: 80%;
    margin-top: 2%;
}

#titre_statistique {
    color: #2b2c34;
    text-align: center;
    font-size: 42px;
    margin-bottom: 2%;
}

.div_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre_stats {
    color: #2b2c34;
}

#statistique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table_stats {
    background-color: #e1e6e4;
    width: 375px;
    height: 350px;
    border-radius: 5px;
}

.th_stats {
    text-align: center;
    font-size: 22px;
    color: #2b2c34;
}

.td_stats {
    text-align: center;
    font-size: 20px;
    color: #2b2c34;
}

.select {
    background-color: #e1e6e4;
    border-bottom: #A1A1A1 1px solid;
    padding: 6%;
}



/* ERREURS */
#erreur_champ {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2c34;
    border-radius: 10px;
    margin: 8% 25% 9.1% 25%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

#titre_erreur_champ {
    color: #f2f7f5;
}

#div_btn_erreur {
    margin-top: 1%;
}

.btn_erreur {
    background-color: #00473e;
    text-decoration: none;
    color: #f2f7f5;
    border-radius: 5px;
    font-size: 48px;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn_erreur:hover {
    color: #e1e6e4;
}


/* RESPONSIVE TELEPHONE */
@media screen and (max-width: 768px) {
    /* HEADER */
    #menu_nav {
        display: none;
    }

    #icon_nav_reponsive_tab_ver {
        display: none !important;
    }

    #icon_nav_responsive {
        display: flex;
        margin-right: 5%;
    }

    #btn_icon_nav_responsive {
        display: flex;
        flex-wrap: wrap;
        background-color: #f2f7f5;
        border-radius: 5px;
        color: #2b2c34;
        padding: 4px;
        border: 0px;
    }

    #btn_icon_nav_responsive:hover {
        background-color: #e1e6e4;
    }
    
    #titre_header {
        font-size: 24px;
        margin-left: 5%;
    }

    #login_register {
        display: none;
    }

    .nav_responsive_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00473e;
    }

    .nav_responsive_header_none {
        display: none;
    }

    #responsive_ul_header {
        list-style: none;
        margin: 0px;
        padding: 0px;
        padding-bottom: 8px;
        border-bottom: #2b2c34 4px solid;
    }

    .responsive_bouton_header {
        display: flex;
        justify-content: center;
        margin: 4px;
    }

    .responsive_a_header {
        background-color: #f2f7f5;
        border-radius: 5px;
        text-decoration: none;
        color: #2b2c34;
        font-size: 20px;
        padding-right: 4px;
    }

    .responsive_a_header:hover {
        background-color: #e1e6e4;
        color: #2b2c34;
    }

    .icon_nav_responsive {
        margin-left: 2px;
        margin-right: 2px;
    }

    #responsive_login_register {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .responsive_log {
        text-decoration: none;
        background-color: #f2f7f5;
        border-radius: 5px;
        text-decoration: none;
        color: #2b2c34;
        font-size: 20px;
        padding: 2px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .responsive_log:hover {
        text-decoration: none;
        background-color: #e1e6e4;
        color: #2b2c34;
    }


    /* BANNIERE */
    #logo_acceuil {
        width: 25%;
    }

    #banniere_recherche {
        justify-content: space-around;
        width: 100%;
    }

    #bouton_barre_recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }

    #label_recherche {
        font-size: 14px;
    }

    #barre_recherche {
        font-size: 14px;
        border-radius: 5px 0px 0px 5px;
        margin: 0px;
        width: 80% !important;
        padding: 1px;
    }

    #bouton_recherche {
        display: none;
    }

    #responsive_icon_recherche {
        display: flex;
        background-color: #e1e6e4;
        color: #2b2c34;
        padding: 2px;
        border-radius: 0px 5px 5px 0px;
        border: 0px;
    }

    /* ACCEUIL */
    #titre_acceuil {
        font-size: 48px;
        margin-right: 20%;
        margin-left: 20%;
    }

    #categorie_acceuil {
        padding-bottom: 20px;
    }

    #titre_categorie_acceuil {
        font-size: 28px;
        padding-top: 5px;
    }

    .table_categorie_acceuil {
        margin: 6px;
    }

    .table_categorie_acceuil:hover {
        transform: scale(1.03);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
    }

    .image_categorie_acceuil {
        width: 250px;
    }

    .libelle_categorie_acceuil {
        font-size: 18px;
    }

    #titre_plat_acceuil {
        font-size: 28px;
        padding-top: 15px;
    }

    .image_plat_acceuil {
        width: 250px;
    }

    .libelle_plat_acceuil {
        font-size: 18px;
    }

    .table_plat_acceuil {
        margin: 6px;
    }

    .table_plat_acceuil:hover {
        transform: scale(1.03);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
    }

    /* CATEGORIE */
    #titre_cate_act {
        font-size: 24px;
        text-align: center;
    }

    .image_cate_act {
        width: 250px;
    }

    #titre_cate_no_act {
        font-size: 24px;
        text-align: center;
    }

    #cate_no_act {
        justify-content: space-around;
    }

    .table_cate_no_act {
        align-items: center;
    }

    .image_cate_no_act {
        width: 250px;
    }

    .tbody_cate_act {
        overflow: hidden;
    }

    .libelle_cate_act {
        font-size: 18px;
    }

    .libelle_cate_no_act {
        font-size: 18px;
    }

    /* INTERFACE PLAT */
    #select_cate_plat {
        padding-bottom: 5px;
    }

    #titre_select_cate_plat {
        font-size: 18px;
    }

    #list_cate_plat {
        padding-left: 6px;
        flex-wrap: wrap;
    }

    .btn_cate_plat_act {
        padding: 2px;
        margin: 2px 1px 2px 1px;
    }

    .btn_cate_plat_no_act {
        padding: 2px;
        margin: 2px 1px 2px 1px;
    }

    .a_cate_plat {
        font-size: 16px;
    }

    /* PLAT */
    .titre_categorie_plat {
        font-size: 24px;
    }

    .table_plat {
        margin-bottom: 15px;
    }

    .table_plat:hover {
        transform: scale(1.03);
    }

    .libelle_plat {
        font-size: 18px;
    }

    .desc_plat {
        font-size: 14px;
    }

    .prix_plat {
        font-size: 18px;
    }

    .icon_shop {
        display: flex;
        align-items: center;
        width: 18px;
        height: 18px;
    }

    /* CONTACT */
    #fond_contact {
        margin: 0px 5px 0px 5px;
        margin-top: 15.5%;
        margin-bottom: 20%;
        padding-bottom: 2px;
    }

    #titre_contact {
        font-size: 32px !important;
    }

    .input_contact {
        width: 75%;
    }

    .btn_contact {
        font-size: 20px;
    }

    /* PLAT INTROUVABLE */
    #plat_introuvable {
        margin-top: 18%;
        font-size: 32px;
        text-align: center;
    }

    #btn_plat_introuvable{
        font-size: 20px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 80%;
    }

    /* FOOTER */
    #footer {
        flex-wrap: wrap;
    }
    
    #titre_footer {
        display: block;
        font-size: 24px;
    }

    #ul_footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 8px;
    }
}


/* RESPONSIVE TABLETTE PORTRAIT*/
@media screen and (min-width: 769px) and (max-width: 900px) {
    /* HEADER */
    #login_register {
        display: none;
    }

    #icon_nav_reponsive_tab_ver {
        display: flex;
    }

    #btn_icon_nav_responsive_tab_ver {
        background-color: #f2f7f5;
        border-radius: 5px;
        color: #2b2c34;
        margin-right: 4px;
        padding: 8px;
        border: 0px;
    }

    .nav_responsive_tab_ver_header_id {
        display: flex;
    }

    .nav_responsive_tab_ver_header {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .nav_responsive_tab_ver_header_none {
        display: none;
    }

    .responsive_log {
        text-decoration: none;
        background-color: #f2f7f5;
        border-radius: 5px;
        text-decoration: none;
        color: #2b2c34;
        font-size: 20px;
        padding: 2px;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 4px;
    }

    .responsive_log:hover {
        text-decoration: none;
        background-color: #e1e6e4;
        color: #2b2c34;
    }

    #responsive_login_register_tab_ver {
        display: flex;
        flex-direction: column;
        background-color: #00473e;
        border-radius: 0px 0px 0px 5px;
        padding: 0px 10px 10px 10px;
        box-shadow: 5px 5px 10px #2b2c34;
        position: absolute;
    }

    /* BANNIERE */
    #banniere_recherche {
        justify-content: space-around;
        width: 100%;
    }

    #bouton_barre_recherche {
        width: 35%;
    }

    #responsive_barre_bouton {
        justify-content: center;
    }

    #barre_recherche {
        width: 50%;
    }

    /* ACCEUIL */
    #titre_acceuil {
        font-size: 56px;
        margin-left: 35%;
        margin-right: 35%;
    }

    #titre_categorie_acceuil {
        font-size: 28px;
    }

    .image_categorie_acceuil {
        width: 300px;
    }

    .libelle_categorie_acceuil {
        font-size: 24px;
    }

    #titre_plat_acceuil {
        font-size: 28px;
    }

    .image_plat_acceuil {
        width: 300px;
    }

    .libelle_plat_acceuil {
        font-size: 24px;
    }

    /* CATEGORIE */
    #cate_act {
        margin-left: 5%;
        margin-right: 5%;
    }

    .image_cate_act {
        width: 300px;
    }

    .libelle_cate_act {
        font-size: 24px;
    }

    #titre_cate_no_act {
        margin-right: 15%;
        margin-left: 15%;
    }

    .image_cate_no_act {
        width: 300px;
    }

    #cate_no_act {
        justify-content: space-around;
    }

    /* INTERFACE PLAT */
    #select_cate_plat {
        padding-bottom: 5px;
    }

    #titre_select_cate_plat {
        font-size: 28px;
    }

    #list_cate_plat {
        padding-left: 6px;
        flex-wrap: wrap;
    }

    .btn_cate_plat_act {
        padding: 2px;
        margin: 2px 4px 2px 4px;
    }

    .btn_cate_plat_no_act {
        padding: 2px;
        margin: 2px 4px 2px 4px;
    }

    .a_cate_plat {
        font-size: 24px;
    }

    /* PLAT */
    #plat {
        align-items: center;
    }

    .libelle_plat {
        font-size: 22px;
    }

    .desc_plat {
        font-size: 15px;
    }

    .prix_plat {
        font-size: 22px;
    }

    .icon_shop {
        width: 22px;
        height: 22px;
    }

    /* CONTACT */
    #fond_contact {
        margin-left: 15%;
        margin-right: 15%;
    }

    #titre_contact {
        font-size: 48px;
    }

    .input_contact {
        width: 80%;
    }

    .btn_contact {
        font-size: 24px;
    }

    /* PLAT INTROUVABLE */
    #plat_introuvable {
        margin-top: 10%;
        font-size: 48px;
    }

    #btn_plat_introuvable{
        font-size: 24px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 75%;
    }

    /* FOOTER */
    #ul_footer {
        flex-direction: row;
    }

    .li_footer {
        margin-left: 10px;
    }

}


/* RESPONSIVE TABLETTE PAYSAGE*/
@media screen and (min-device-width : 901px) and (max-device-width : 1080px) and (orientation : landscape) {
    /* BANNIERE */
    #banniere_recherche {
        width: 100%; 
        justify-content: space-around;
    }

    #responsive_barre_bouton{
        justify-content: center;
    }

    #barre_recherche {
        width: 60%;
    }

    /* ACCEUIL */
    .image_categorie_acceuil {
        width: 375px;
    }

    /* CATEGORIE */
    #cate_act {
        margin-left: 5%;
        margin-right: 5%;
    }

    .image_cate_act {
        width: 375px;
    }

    #cate_no_act {
        justify-content: center;
    }

    .image_cate_no_act {
        width: 375px;
    }

    /* PLAT INTROUVABLE */
    #btn_plat_introuvable {
        margin-left: 25%;
        margin-right: 25%;
    }
}