body {
    background-color: #eff0f3;
}

.background_header {
    background: linear-gradient(345deg, #eff0f3, #ebebeb);
    display: flex;
    align-items: center;
}

.background_footer {
    background: linear-gradient(225deg, #eff0f3, #ebebeb);
    display: flex;
    align-items: center;
}

.background_disc_new {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    margin-left: 5%;
    padding-bottom: 4px;
}

.background_disc_detail {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    padding: 4px;
}

.background_disc_form {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    margin-left: 5%;
    padding-left: 10px;
    padding-bottom: 4px;
}

.background_artist_index {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    margin-left: 5%;
    padding: 10px;
}

.background_artist_detail {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    margin-left: 2%;
    padding: 10px;
}

.background_artist_new {
    background: linear-gradient(315deg, #eff0f3, #ebebeb);
    margin-left: 5%;
    padding: 10px;
}

#titre {
    margin-left: 1em;
    color: black !important;
}

.titre_artist {
    border-bottom: 1px solid #dfdfdf;
    width: 40%;
}

.input_artist_new {
    width: 15%;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: #ebebeb;
}

a:hover {
    text-decoration: none;
    color: white;
}

label {
    margin-top: 4px;
}

footer {
    display: block;

}

.nav_item_header {
    display: flex;
    align-content: center;
    background-color: #ff8e3c;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid white;
}

.nav_item_header:hover {
    transition: 0.25s;
    font-size: 27px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
    border: 2px solid white;
}

.vinyle {
    background: linear-gradient(225deg, #eff0f3, #ebebeb);
    transition: 0.25s;
}

.vinyle:hover {
    background: linear-gradient(225deg, #ebebeb, #ebebeb);
    transition: 0.25s;
}

.bouton{
    background-color: #ff8e3c !important;
    border: #ff8e3c !important;
    color: white;
}

.bouton:hover {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.150);
    color: #ebebeb;
    transition: 0.25s;
}

.text_artist {
    font-size: 20px;
    margin-bottom: 10px;
}

.nav_item_footer {
    display: flex;
    align-content: center;
    background-color: #ff8e3c;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid white;
}

.nav_item_footer:hover {
    transition: 0.25s;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.164);
    border: 2px solid white;
}

.jaquette_index {
    height: 250px;
}

.jaquette_details {
    height: 400px;
}
