{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div>
    <div class="fond_cate_act">
        <h1 id="titre_cate_act">Catégories Disponnibles</h1>

        <div id="cate_act">
            {% for categorie in categories %}
                <a class="lien_cate_act card_cate_act" href="{{ path('plat', {categorie_id : categorie.id}) }}">
                <table class="table_cate_act card_cate_act">
                    <thead>
                        <tr>
                            <td><img class="image_cate_act card_cate_act" src="{{ asset('assets/img/images_the_district/category/') ~ categorie.image }}" alt="image_plat"></td>
                        </tr>
                    </thead>
                    <tbody class="tbody_cate_act card_cate_act">
                        <tr>
                            <td class="libelle_cate_act">{{ categorie.libelle }}</td>
                            <td class="line_cate_act"></td>
                        </tr>
                    </tbody>
                </table>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="img_mid_cate">
        <h1>The District</h1>
    </div>
    </div>

</div>
{% endblock %}